@model IEnumerable<Domain.Entities.Product>

    @{
    ViewData["Title"] = "Index";
    }
    <h2>Basket</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-action="Purchase">
        <input type="submit" value="Purchase" class="btn btn-primary" />
    </form>
