@model IEnumerable<Domain.Entities.ProductData>

    @{
    ViewData["Title"] = "Index";
    }

    <h2>Products</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <form asp-action="AddToBasket">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="submit" value="Add to basket" class="btn btn-primary"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
